<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PostgresTemplate"
			 connectionString="Host=localhost;Port=5432;Username=postgres;Password=MAtvey180106"
			 providerName="Npgsql" />
		<add name="MasterDB"
			 connectionString="Host=localhost;Port=5432;Username=postgres;Password=MAtvey180106;Database=postgres"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>